*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#bg{
    width: 100%;
    height:100%;
    background-color: rgba(235, 230, 230, 0.925);
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#c1{
    background-color: red;
    position: absolute;
    left: 10%;
    filter: blur(90px);
}

#c2{
    background-color:aqua;
    position: absolute;
    top: 30%;
    filter: blur(80px);
}

#c3{
    background-color: red;
    position: absolute;
    top: 80%;
    width: 50px;
    height: 50px;
    left: 8%;
    border-radius: 50%;
    filter: blur(40px);
}

#c4{
    background-color: rgb(0, 60, 255);
    position: absolute;
    top: 90%;
    width: 50px;
    height: 50px;
    left: 8%;
    border-radius: 50%;
    filter: blur(40px);
}

#c5{
    background-image:linear-gradient( to bottom, rgb(252, 8, 8), rgb(23, 64, 245));
    position: absolute;
    left: 90%;
    top: 40%;
    filter: blur(70px);
}

#back{
    width: 1200px;
    height: 600px;
    position: absolute;
    left: 10%;
    top: 10%;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
}

#nav{
    width: 100%;
    height: 40px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#n1{
    width: 100%;
    height: 100%;
    display: flex;
}

#n1 i{
    margin-right: 180px;
}

#n1 h3{
    margin-right: 40px;
    opacity: 0.5;
    align-items: center;
}

#n1one{
    color: black !important;
}

#n2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#n2 h3{
    margin-right: 20px;
    opacity: 0.5;
    margin-left: 290px;
}

#button{
    width: 150px;
    height: 40px;
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
}

#line{
    width: 2px;
    height: 100%;
    background-color: rgba(212, 211, 211, 0.781);
    position: absolute;
    left: 10%;
}

#c6{
    background-color:aqua;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 40%;
    left: 10%;
    filter: blur(30px);
}

#c7{
    background-color:rgb(255, 0, 76);
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    left: 10%;
    filter: blur(30px);
}

#c8{
    background-color:rgb(0, 60, 255);
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 40%;
    left: 15%;
    filter: blur(30px);
}

#c9{
    background-color:rgb(158, 34, 142);
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 45%;
    left: 20%;
    filter: blur(30px);
}

#c10{
    background-color:rgb(158, 34, 142);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 25%;
    left: 60%;
    filter: blur(30px);
}

#c11{
    background-color:rgb(34, 158, 158);
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 60%;
    left: 90%;
    filter: blur(80px);
}

#c12{
    background-color:rgb(34, 36, 158);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    left: 90%;
    filter: blur(50px);
}

#footer{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90%;
    left: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#footer i{
    color: #fff;
}

#main{
    width: 70%;
    height: 70%;
    position: absolute;
    left: 20%;
    top: 15%;
    /* background-color: red; */
}

#header{
    display: flex;
    justify-content: space-between;
}

#head_cont h1{
    font-size: 60px;
    margin-bottom: 10px;
}

#box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(221, 217, 217, 0.404);
}

#main_lft{
    width: 70px;
    height:100%;
    position: absolute;
    top: 50%;
    line-height: 30px;
}

#main_midl{
    width: 300px;
    height: 400px;
    /* background-color: red; */
    margin-top: 50px;
    left: 30%;
    position: absolute;
}

#midle1{
    display: flex;
    justify-content: space-between;
}

#midle1 img{
    width: 70px;
    height: 70px;
}

#midle2{
    display: flex;
    justify-content: space-between;
}

#midle2 img{
    width: 70px;
    height: 70px;
}

#midle3{
    display: flex;
    justify-content: space-between;
}

#midle3 img{
    width: 70px;
    height: 70px;
}


#main_midl h2{
    margin-bottom: 10px;
    font-weight: 5000;
}

#main_midl h5{
    margin-bottom: 50px;
    opacity: 0.5;
}

#main_rght{
    width: 60%;
    height: 100%;
    left:150% ;
    position: absolute;
    top: 0%;
    /* background-color: yellow; */
    line-height: 40px;
}

#rght1{
    display: flex;
}

#rght1 h4{
    margin-right: 40px;
}

#rght2 h4{
    opacity: 0.5;
}

#sd_cont{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 3%;
    top: 30%;

}

 #sd_cont #img1{
    background-color: #ffff;
    position: absolute;
    left: 0;
    top: 39%;
    width: 17px;
    height: 80px;
}

#sd_cont img{
    background-color: white;
    position: absolute;
    left: 0;
    top: 10%;
    width: 17px;
    height: 100px;
}